<store-switch-menus class="store-switch-menus">
  <div class="ssm__container">
    <ul class="ssm__menu">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'store_selector' %}
            {% assign menu = block.settings.menu %}
            
            {% for link in menu.links %}
              <li class="ssm__menu-item">
                <a href="{{ link.url }}" class="ssm__menu-link">
                  {{ link.title }}
                </a>
                
                {% if block.settings.is_mega_menu == true %}
                  {% if link.links.size > 0 %}
                    <div class="ssm__mega-menu">
                      <div class="ssm__mega-menu-container">
                        {% for childlink in link.links %}
                          <div class="ssm__mega-menu-section">
                            <a href="{{ childlink.url }}" class="ssm__menu-link ssm__menu-link--title">
                              {{ childlink.title }}
                            </a>
                            {% if childlink.links.size > 0 %}
                              <ul class="ssm__submenu">
                                {% for grandchild in childlink.links %}
                                  <li>
                                    <a href="{{ grandchild.url }}" class="ssm__menu-link">
                                      {{ grandchild.title }}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endif %}
                {% else %}
                  {% if link.links.size > 0 %}
                    <ul class="ssm__menu--submenu">
                      {% for childlink in link.links %}
                        <li>
                          <a href="{{ childlink.url }}" class="ssm__menu-link">
                            {{ childlink.title }}
                          </a>
                          {% if childlink.links.size > 0 %}
                            <ul class="ssm__menu--submenu">
                              {% for grandchild in childlink.links %}
                                <li>
                                  <a href="{{ grandchild.url }}" class="ssm__menu-link">
                                    {{ grandchild.title }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endif %}
              </li>
            {% endfor %}
            
        {% endcase %}
      {% endfor %}
    </ul>
  </div>
</store-switch-menus>