{{ 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' | stylesheet_tag }}
{{ 'custom-footer.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign show_selectors = false
  assign currency_selector = false
  assign locale_selector = false

  if section.settings.show_currency_selector and shop.enabled_currencies.size > 1
    assign currency_selector = true
  endif

  if section.settings.show_locale_selector and shop.enabled_locales.size > 1
    assign locale_selector = true
  endif

  if currency_selector or locale_selector
    assign show_selectors = true
  endif
-%}

{%- if settings.color_footer == settings.color_body_bg -%}
  {%- style -%}
    .site-footer {
      border-top: 1px solid {{ settings.color_borders }};
    }
  {%- endstyle -%}
{%- endif -%}

<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="page-width">
    <div class="footer-grid page-width">
      {%- assign row_width = 0 -%}
      {%- for block in section.blocks -%}
        {%- assign row_width = row_width | plus: block.settings.container_width -%}
        {%- if row_width > 100 -%}
          <div class="footer__clear small--hide"></div>
          {%- assign row_width = row_width | minus: 100 -%}
        {%- endif -%}

        <div {{ block.shopify_attributes }} class="grid__item footer__item--{{ block.id }}" data-type="{{ block.type }}">
          {%- liquid
            case block.type
              when 'logo_social'
                render 'footer-logo', block: block
              when 'social'
                render 'footer-social', block: block
              when 'contact'
                render 'footer-contact', block: block
              when 'custom'
                render 'footer-custom-text', block: block, container_width: block.settings.container_width
              when 'newsletter'
                render 'footer-newsletter', block: block
              when 'menu'
                render 'footer-menu', block: block
              when 'follow_shop_cta'
                render 'follow-shop-cta', block: block
            endcase
          -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
  {%- if section.settings.show_copyright -%}
    <div class="copyright">
      <p class="footer__small-text">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}
        {%- if section.settings.copyright_text != blank -%}
          {{ section.settings.copyright_text }}
        {%- endif -%}
      </p>
    </div>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_language_selector",
      "info": "t:sections.footer.settings.header_language_selector"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "t:sections.footer.settings.show_locale_selector.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_currency_selector",
      "info": "t:sections.footer.settings.header_currency_selector"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "t:sections.footer.settings.show_currency_selector.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_currency_flags",
      "label": "t:sections.footer.settings.show_currency_flags.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header_additional_footer_content"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "t:sections.footer.settings.show_payment_icons.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_copyright",
      "label": "t:sections.footer.settings.show_copyright.label"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "t:sections.footer.settings.copyright_text.label"
    }
  ],
  "blocks": [
{
  "type": "contact",
  "name": "Contact Info Block",
  "settings": [
    {
      "type": "header",
      "content": "Default/All Brands Contact Information"
    },
    {
      "type": "text",
      "id": "address_line_1",
      "label": "Address Line 1",
      "default": "201 Railhead Rd."
    },
    {
      "type": "text",
      "id": "address_line_2",
      "label": "Address Line 2",
      "default": "Fort Worth, TX 76106"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "(877) 607-0202"
    },
    {
      "type": "text",
      "id": "email_address",
      "label": "Email Address",
      "default": "customersupport@oxygenlighting.com"
    },
    {
      "type": "header",
      "content": "Oxygen Brand Contact Information"
    },
    {
      "type": "text",
      "id": "oxygen_address_line_1",
      "label": "Oxygen Address Line 1",
      "info": "Leave blank to use default address"
    },
    {
      "type": "text",
      "id": "oxygen_address_line_2",
      "label": "Oxygen Address Line 2",
      "info": "Leave blank to use default address"
    },
    {
      "type": "text",
      "id": "oxygen_phone_number",
      "label": "Oxygen Phone Number",
      "info": "Leave blank to use default phone number"
    },
    {
      "type": "text",
      "id": "oxygen_email_address",
      "label": "Oxygen Email Address",
      "info": "Leave blank to use default email address"
    },
    {
      "type": "header",
      "content": "Quorum Brand Contact Information"
    },
    {
      "type": "text",
      "id": "quorum_address_line_1",
      "label": "Quorum Address Line 1",
      "info": "Leave blank to use default address"
    },
    {
      "type": "text",
      "id": "quorum_address_line_2",
      "label": "Quorum Address Line 2",
      "info": "Leave blank to use default address"
    },
    {
      "type": "text",
      "id": "quorum_phone_number",
      "label": "Quorum Phone Number",
      "info": "Leave blank to use default phone number"
    },
    {
      "type": "text",
      "id": "quorum_email_address",
      "label": "Quorum Email Address",
      "info": "Leave blank to use default email address"
    }
  ]
},
{
  "type": "social",
  "name": "Social Section",
  "settings": [
    {
      "type": "text",
      "id": "contact_button_label",
      "label": "Contact Button Label",
      "default": "CONTACT US"
    },
    {
      "type": "url",
      "id": "contact_button_link",
      "label": "Contact Button Link"
    },
    {
      "type": "header",
      "content": "Default/All Brands Social Links"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "linkedin_url",
      "label": "Linkedin URL"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "vimeo_url",
      "label": "Vimeo URL"
    },
    {
      "type": "header",
      "content": "Oxygen Brand Social Links"
    },
    {
      "type": "url",
      "id": "oxygen_facebook_url",
      "label": "Oxygen Facebook URL",
      "info": "Leave blank to use default Facebook URL"
    },
    {
      "type": "url",
      "id": "oxygen_linkedin_url",
      "label": "Oxygen LinkedIn URL",
      "info": "Leave blank to use default LinkedIn URL"
    },
    {
      "type": "url",
      "id": "oxygen_instagram_url",
      "label": "Oxygen Instagram URL",
      "info": "Leave blank to use default Instagram URL"
    },
    {
      "type": "url",
      "id": "oxygen_vimeo_url",
      "label": "Oxygen Vimeo URL",
      "info": "Leave blank to use default Vimeo URL"
    },
    {
      "type": "url",
      "id": "oxygen_contact_link",
      "label": "Oxygen Contact Link",
      "info": "Leave blank to use default contact link"
    },
    {
      "type": "header",
      "content": "Quorum Brand Social Links"
    },
    {
      "type": "url",
      "id": "quorum_facebook_url",
      "label": "Quorum Facebook URL",
      "info": "Leave blank to use default Facebook URL"
    },
    {
      "type": "url",
      "id": "quorum_linkedin_url",
      "label": "Quorum LinkedIn URL",
      "info": "Leave blank to use default LinkedIn URL"
    },
    {
      "type": "url",
      "id": "quorum_instagram_url",
      "label": "Quorum Instagram URL",
      "info": "Leave blank to use default Instagram URL"
    },
    {
      "type": "url",
      "id": "quorum_vimeo_url",
      "label": "Quorum Vimeo URL",
      "info": "Leave blank to use default Vimeo URL"
    },
    {
      "type": "url",
      "id": "quorum_contact_link",
      "label": "Quorum Contact Link",
      "info": "Leave blank to use default contact link"
    }
  ]
},
    {
      "type": "logo_social",
      "name": "t:sections.footer.blocks.logo.name",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.footer.blocks.logo.settings.logo.label"
        },
        {
          "type": "range",
          "id": "desktop_logo_height",
          "label": "t:sections.footer.blocks.logo.settings.desktop_logo_height.label",
          "default": 50,
          "min": 20,
          "max": 120,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.logo.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "menu",
      "name": "t:sections.footer.blocks.navigation.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.navigation.settings.show_footer_title.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "t:sections.footer.blocks.navigation.settings.menu.label",
          "default": "footer",
          "info": "t:sections.footer.blocks.navigation.settings.menu.info"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.navigation.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "custom",
      "name": "t:sections.footer.blocks.custom_text.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_footer_title",
          "label": "t:sections.footer.blocks.custom_text.settings.show_footer_title.label",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.footer.blocks.custom_text.settings.title.label",
          "default": "Custom text"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.footer.blocks.custom_text.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.footer.blocks.custom_text.settings.text.label",
          "default": "<p>Add your own custom text here.</p>"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.custom_text.settings.container_width.label",
          "default": 25,
          "min": 15,
          "max": 95,
          "unit": "%"
        }
      ]
    },
    {
      "type": "follow_shop_cta",
      "name": "t:common.follow_shop_cta.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:common.follow_shop_cta.paragraph.content"
        },
        {
          "type": "range",
          "id": "container_width",
          "label": "t:sections.footer.blocks.custom_text.settings.container_width.label",
          "default": 25,
          "min": 20,
          "max": 95,
          "unit": "%"
        }
      ]
    }
  ],
  "default": {
    "settings": {},
    "blocks": [
      {
        "type": "menu",
        "settings": {}
      },
      {
        "type": "logo_social",
        "settings": {}
      }
    ]
  },
  "disabled_on": {
    "groups": ["header", "custom.popups"]
  }
}
{% endschema %}
